@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

:root {
  --black: rgb(35, 35, 35);
  --gray: rgb(242, 242, 242);
  --yellow: rgb(245, 197, 24);
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: rgb(35, 35, 35);
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: white;
}

header {
  background-color: rgb(35, 35, 35);
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 0 24px;
}

nav ul {
  display: flex;
  color: white;
  list-style: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 12px;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: var(--yellow);
}

main {
  padding-top: 86px;
  padding-bottom: 36px;
  min-height: 100vh;
}

footer {
  background-color: rgb(35, 35, 35);
  color: white;
  text-align: center;
  padding: 20px;
}

button {
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

hr {
  margin: 12px 0;
}

.logo {
  font-weight: bold;
  font-size: 28px;
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 85%;
  margin: auto;
}

.content {
  flex: 3;
  margin-left: 12px;
}
.content-title {
  font-size: 28px;
}

.aside {
  flex: 1;
  margin-right: 12px;
}

.filter {
  display: flex;
  align-items: center;
}
.filter-item label {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  border: 2px solid var(--yellow);
  margin-right: 8px;
  border-radius: 18px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.filter-item:first-child {
  margin-left: 8px;
}
.filter-item input[type="radio"] {
  display: none;
}
.filter-item input[type="radio"]:checked + label {
  background-color: rgba(245, 197, 24, 0.2);
}
.filter-item label:hover {
  background-color: var(--gray);
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;
}

.separator {
  margin: 0 8px;
}

.article {
  display: flex;
}
.article .icon {
  width: 18px;
  margin-right: 4px;
}
.article-score {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 4px;
}
.article-score .icon {
  color: var(--yellow);
}
.article img {
  border-radius: 8px;
  width: 240px;
  height: 184px;
  object-fit: cover;
}
.article-body {
  padding-left: 16px;
}
.article-genre {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 12px;
  background-color: var(--gray);
  margin-left: 8px;
}
.article-detail {
  margin-top: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.article-button {
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 8px;
}

.profile {
  text-align: center;
  top: 86px;
  position: sticky;
}
.profile img {
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid var(--yellow);
  padding: 4px;
  border-radius: 50%;
}
.profile-name {
  font-weight: bold;
  margin-top: 8px;
}
.profile-detail {
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
}
.profile-quote {
  margin-top: 12px;
  font-size: 14px;
}
.profile-button {
  margin-top: 20px;
  display: block;
  width: 100%;
  padding: 8px 16px;
  border-radius: 20px;
  border: 2px solid var(--yellow);
  background: var(--yellow);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
  transition: all 0.3s ease;
}
.profile-button:hover {
  transform: translateY(-4px);
}

.toggle-button {
  width: 28px;
  height: 28px;
  color: white;
  display: none;
}

@media screen and (max-width: 1200px) {
  .container {
    margin: 0 24px;
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .profile {
    position: static;
  }
  .content {
    margin-left: 0;
    flex-basis: 100%;
  }
  .content-title {
    font-size: 18px;
  }
  .aside {
    margin-right: 0;
    flex-basis: 100%;
  }
  .articles {
    flex-wrap: wrap;
  }
  .article-img {
    max-width: 40%;
  }
  .article img {
    width: 100%;
  }
  .article-body {
    flex-basis: 100%;
  }
  .filter {
    flex-wrap: wrap;
  }
  .filter-item {
    margin-bottom: 4px;
    margin-top: 4px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    position: fixed;
    top: 56px;
    left: 100%;
    bottom: 0;
    right: 0;
    background-color: var(--black);
    border-top: 1px solid white;
    transition: left .3s ease;
    width: 100%;
  }
  nav.open {
    left: 0;
  }
  nav ul {
    padding-top: 24px;
    flex-direction: column;
  }
  nav ul li a{
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 24px;
  }
  .toggle-button {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .article {
    flex-wrap: wrap;
  }
  .article-body {
    padding-left: 0;
  }
  .article img {
    width: 100%;
    margin-bottom: 8px;
  }
  .article-img {
    width: 100%;
    max-width: 100%;
  }
}