@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

:root {
    --black: rgb(35, 35, 35);
    --gray: rgb(242, 242, 242);
    --yellow: rgb(245, 197, 24);
    --white: #ffffff;
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: rgb(35, 35, 35);
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: white;
}

header {
  background-color: rgb(35, 35, 35);
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 0 24px;
}

nav ul {
    display: flex;
    color: white;
    list-style: none    ;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
    transition: color .3s ease;
}
nav ul li a:hover {
    color: var(--yellow);
}

main {
    padding-top: 86px;
    padding-bottom: 36px;
}

footer {
    background-color: rgb(35, 35, 35);
    color: white;
    text-align: center;
    padding: 20px;
}

button {
    font-family: "Quicksand", sans-serif;
    cursor: pointer;
}

hr {
    margin: 12px 0;
}

.logo {
  font-weight: bold;
  font-size: 28px;
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  margin: 0 24px;
  flex-wrap: wrap;
}

.content {
  flex: 3;
  margin-left: 12px;
}
.content-title {
    font-size: 28px;
}

.aside {
  flex: 1;
  margin-right: 12px;
}

.filter {
    display: flex;
}

.filter-item {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    border: 2px solid var(--yellow);
    margin-right: 8px;
    border-radius: 18px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: all .3s ease;
}
.filter-item:hover {
    background-color: var(--gray);
}

.filter-item.active {
    background-color: rgba(245, 197, 24, .2);
    color: var(--black);
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;
}

.separator {
    margin: 0 8px;
}


.article {
  display: flex;
}

.article .icon {
    width: 18px;
    margin-right: 4px;
}

.article-score {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.article-score .icon {
    color: var(--yellow);
}

.article img {
    border-radius: 8px;
    width: 240px;
    height: 184px;
    object-fit: cover;
}

.article-body {
    padding-left: 16px;
}

.article-detail {
    margin-top: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    /* color: var(--gray); */
}

.article-button {
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 8px;
}

.profile {
    text-align: center;
}

.profile img {
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid var(--yellow);
  padding: 4px;
  border-radius: 50%;
}

.profile-name {
    font-weight: bold;
    margin-top: 8px;
}
.profile-detail {
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
}
.profile-quote {
    margin-top: 12px;
    font-size: 14px;
}
.profile-button {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid var(--yellow);
    background: var(--yellow);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
    transition: all .3s ease;
}
.profile-button:hover {
    transform: translateY(-4px);
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 80%;
    margin: auto;
  }
  .profile {
      top: 86px;
      position: sticky;
  }
}
